<section class="bg-main-light rounded-4 shadow p-2 my-2 w-75 mx-auto">
    <h1 class="text-center my-2">Shipping Address</h1>

    <form [formGroup]="orders" (ngSubmit)="ordersSubmit()" class="p-3">
        <div class="my-1">
            <label for="details">Details</label>
            <textarea formControlName="details" class="form-control"  id="details"></textarea>
        </div>

        <div class="my-1">
            <label for="phone">Phone</label>
            <input formControlName="phone" class="form-control" id="phone" type="tel">
        </div>


        <div class="my-1">
            <label for="city">City</label>
            <input formControlName="city" class="form-control" id="city" type="text">
        </div>

        <button class="btn-main" type="submit">Submit</button>
        



    </form>
</section>
